In [1]:
import pandas as pd 
import numpy as np

In [2]:
state=pd.read_json('https://mazfreelance.github.io/malaysia-jajahan-api/v1/states.json',dtype=str)
state=state[state['name']!='LUAR NEGARA']
state

,name,name_long,id,code2,code3,capital
0,JOHOR,JOHOR DARUL TAKZIM,1,JH,JOH,JOHOR BAHRU
1,KEDAH,KEDAH DARUL AMAN,2,KD,KED,ALOR SETAR
2,KELANTAN,KELANTAN DARUL NAIM,3,KT,KEL,KOTA BAHRU
3,MELAKA,MELAKA BANDARAYA BERSEJARAH,4,ML,MLK,BANDAR MELAKA
4,NEGERI SEMBILAN,NEGERI SEMBILAN DARUL KHUSUS,5,NS,NSN,SEREMBAN
5,PAHANG,PAHANG DARUL MAKMUR,6,PH,PAH,KUANTAN
6,PULAU PINANG,PULAU PINANG PULAU MUTIARA,7,PN,PEN,GEORGE TOWN
7,PERAK,PERAK DARUL RIDZUAN,8,PR,PRK,IPOH
8,PERLIS,PERLIS INDERA KAYANGAN,9,PL,PER,KANGAR
9,SELANGOR,SELANGOR DARUL EHSAN,10,SG,SEL,SHAH ALAM
10,TERENGGANU,TERENGGANU DARUL IMAN,11,TR,TER,KUALA TERENGGANU
11,SABAH,SABAH NEGERI DI BAWAH BAYU,12,SB,SBH,KOTA KINABALU
12,SARAWAK,SARAWAK BUMI KENYALANG,13,SR,SWK,KUCHING
13,WP KUALA LUMPUR,WILAYAH PERSEKUTUAN KUALA LUMPUR,14,KL,KUL,KUALA LUMPUR
14,WP LABUAN,WILAYAH PERSEKUTUAN LABUAN,15,LB,LBU,LABUAN
15,WP PUTRAJAYA,WILAYAH PERSEKUTUAN PUTRAJAYA,16,PJ,PTJ,PUTRAJAYA

In [3]:
district=pd.read_json('https://mazfreelance.github.io/malaysia-jajahan-api/v1/states/district.json',dtype=str)
district=district[district['state_id']!='nan'].drop(columns='//comment')
district

       id state_id          name code
1     900        9        PERLIS  PER
2     201        2    KOTA SETAR  KSE
3     202        2   KUBANG PASU  KPA
4     203        2  PADANG TERAP  PTE
5     204        2      LANGKAWI  LAN
..    ...      ...           ...  ...
122  1307       13         KAPIT  KAP
123  1308       13     SAMARAHAN  SAM
124  1309       13       BINTULU  BIN
125  1310       13         MUKAH  MUK
126  1311       13        BETONG  BET

[126 rows x 4 columns]

In [4]:
mukim=pd.read_json('https://mazfreelance.github.io/malaysia-jajahan-api/v1/states/mukim.json',dtype=str)
mukim=mukim[mukim['name']!='-']#.drop(columns='//comment')
mukim

          id            name district_id
0     090001             ABI         900
1     090002            ARAU         900
2     090003         BERSERI         900
3     090004         CHUPING         900
4     090005        UTAN AJI         900
...      ...             ...         ...
1985  130947            ANAP        1309
1986  130948           KAKUS        1309
1987  130954        JELALONG        1309
1988  130955           BINIA        1309
1989  131146  BANDAR MALUDAM        1311

[1990 rows x 3 columns]

In [5]:
mukim_district=\
pd.merge(
    mukim.drop(columns='id').rename(columns={'name': 'mukim'}),
    district.drop(columns='code').rename(columns={'name': 'district'}),
    how='left',
    left_on='district_id',
    right_on='id'
)

mukim_district

               mukim district_id    id state_id district
0                ABI         900   900        9   PERLIS
1               ARAU         900   900        9   PERLIS
2            BERSERI         900   900        9   PERLIS
3            CHUPING         900   900        9   PERLIS
4           UTAN AJI         900   900        9   PERLIS
...              ...         ...   ...      ...      ...
1985            ANAP        1309  1309       13  BINTULU
1986           KAKUS        1309  1309       13  BINTULU
1987        JELALONG        1309  1309       13  BINTULU
1988           BINIA        1309  1309       13  BINTULU
1989  BANDAR MALUDAM        1311  1311       13   BETONG

[1990 rows x 5 columns]

In [6]:
mukim_district_state=pd.merge(mukim_district.drop(columns=['district_id','id']),state,how='left',left_on='state_id',right_on='id').drop(columns=['name_long','capital','id','code2','code3']).rename(columns={'name': 'state'})
mukim_district_state

               mukim state_id district    state
0                ABI        9   PERLIS   PERLIS
1               ARAU        9   PERLIS   PERLIS
2            BERSERI        9   PERLIS   PERLIS
3            CHUPING        9   PERLIS   PERLIS
4           UTAN AJI        9   PERLIS   PERLIS
...              ...      ...      ...      ...
1985            ANAP       13  BINTULU  SARAWAK
1986           KAKUS       13  BINTULU  SARAWAK
1987        JELALONG       13  BINTULU  SARAWAK
1988           BINIA       13  BINTULU  SARAWAK
1989  BANDAR MALUDAM       13   BETONG  SARAWAK

[1990 rows x 4 columns]

In [7]:
mukim_district_state[mukim_district_state['state'].isnull()]

                                 mukim state_id district state
1294                            AMPANG      NaN      NaN   NaN
1295                              BATU      NaN      NaN   NaN
1296                            CHERAS      NaN      NaN   NaN
1297                        ULU KELANG      NaN      NaN   NaN
1298                      KUALA LUMPUR      NaN      NaN   NaN
1299                          PETALING      NaN      NaN   NaN
1300                           SETAPAK      NaN      NaN   NaN
1301               BANDAR KUALA LUMPUR      NaN      NaN   NaN
1302              BANDAR PETALING JAYA      NaN      NaN   NaN
1303  BANDAR BANDAR BAHARU SUNGAI BESI      NaN      NaN   NaN
1304                        PEKAN BATU      NaN      NaN   NaN
1305                  PEKAN BATU CAVES      NaN      NaN   NaN
1306                      PEKAN KEPONG      NaN      NaN   NaN
1307                  PEKAN KUALA PAUH      NaN      NaN   NaN
1308                    PEKAN PETALING      NaN      NaN   NaN
1309                 PEKAN SALAK SOUTH      NaN      NaN   NaN
1310             PEKAN SUNGAI PENCHALA      NaN      NaN   NaN
1713                            LABUAN      NaN      NaN   NaN
1755                        DONGGONGON      NaN      NaN   NaN

In [8]:
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='AMPANG','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='BATU','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='CHERAS','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='ULU KELANG','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='KUALA LUMPUR','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PETALING','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='SETAPAK','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='BANDAR KUALA LUMPUR','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='BANDAR PETALING JAYA','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='BANDAR BANDAR BAHARU SUNGAI BESI','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN BATU','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN BATU CAVES','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN KEPONG','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN KUALA PAUH','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN PETALING','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN SALAK SOUTH','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='PEKAN SUNGAI PENCHALA','WP KUALA LUMPUR',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='LABUAN','WP LABUAN',mukim_district_state['state'])
mukim_district_state['state']=np.where(mukim_district_state['mukim']=='DONGGONGON','SABAH',mukim_district_state['state'])
mukim_district_state

               mukim state_id district    state
0                ABI        9   PERLIS   PERLIS
1               ARAU        9   PERLIS   PERLIS
2            BERSERI        9   PERLIS   PERLIS
3            CHUPING        9   PERLIS   PERLIS
4           UTAN AJI        9   PERLIS   PERLIS
...              ...      ...      ...      ...
1985            ANAP       13  BINTULU  SARAWAK
1986           KAKUS       13  BINTULU  SARAWAK
1987        JELALONG       13  BINTULU  SARAWAK
1988           BINIA       13  BINTULU  SARAWAK
1989  BANDAR MALUDAM       13   BETONG  SARAWAK

[1990 rows x 4 columns]

In [9]:
#mukim_district_state['address_partial']=mukim_district_state['mukim']+','+mukim_district_state['district']+','+mukim_district_state['state']
#mukim_district_state

In [9]:
set(mukim_district_state['state'].to_list())

{'JOHOR',
 'KEDAH',
 'KELANTAN',
 'MELAKA',
 'NEGERI SEMBILAN',
 'PAHANG',
 'PERAK',
 'PERLIS',
 'PULAU PINANG',
 'SABAH',
 'SARAWAK',
 'SELANGOR',
 'TERENGGANU',
 'WP KUALA LUMPUR',
 'WP LABUAN',
 'WP PUTRAJAYA'}

In [10]:
location=pd.read_csv('Malaysia_Postcode-postcodes.csv',dtype=str,header=None)
location.columns=['postcode','location','district','state']
location

      postcode              location district state
0        01000            Alor Redeh   Kangar   PLS
1        01000       Alor Tok Terang   Kangar   PLS
2        01000           Bohor Gelam   Kangar   PLS
3        01000  Jalan Abi Tok Hashim   Kangar   PLS
4        01000       Jalan Alor Sena   Kangar   PLS
...        ...                   ...      ...   ...
56229    98850      Sungai Seloating    Lawas   SRW
56230    98850                Trusan    Lawas   SRW
56231    98850                Tuaran    Lawas   SRW
56232    98857            Peti Surat    Lawas   SRW
56233    98859          Beg Berkunci    Lawas   SRW

[56234 rows x 4 columns]

In [11]:
set(location['state'].to_list())

{'JHR',
 'KDH',
 'KTN',
 'KUL',
 'LBN',
 'MLK',
 'NSN',
 'PHG',
 'PJY',
 'PLS',
 'PNG',
 'PRK',
 'SBH',
 'SGR',
 'SRW',
 'TRG'}

In [12]:
location['state']=np.where(location['state']=='JHR','JOHOR',location['state'])
location['state']=np.where(location['state']=='KDH','KEDAH',location['state'])
location['state']=np.where(location['state']=='KTN', 'KELANTAN', location['state'])
location['state']=np.where(location['state']=='KUL', 'WP KUALA LUMPUR', location['state'])
location['state']=np.where(location['state']=='LBN', 'WP LABUAN', location['state'])
location['state']=np.where(location['state']=='MLK', 'MELAKA', location['state'])
location['state']=np.where(location['state']=='NSN', 'NEGERI SEMBILAN', location['state'])
location['state']=np.where(location['state']=='PHG', 'PAHANG', location['state'])
location['state']=np.where(location['state']=='PJY', 'WP PUTRAJAYA', location['state'])
location['state']=np.where(location['state']=='PLS', 'PERLIS', location['state'])
location['state']=np.where(location['state']=='PNG', 'PULAU PINANG', location['state'])
location['state']=np.where(location['state']=='PRK', 'PERAK', location['state'])
location['state']=np.where(location['state']=='SBH', 'SABAH', location['state'])
location['state']=np.where(location['state']=='SGR', 'SELANGOR', location['state'])
location['state']=np.where(location['state']=='SRW', 'SARAWAK', location['state'])
location['state']=np.where(location['state']=='TRG', 'TERENGGANU', location['state'])

location

      postcode              location district    state
0        01000            Alor Redeh   Kangar   PERLIS
1        01000       Alor Tok Terang   Kangar   PERLIS
2        01000           Bohor Gelam   Kangar   PERLIS
3        01000  Jalan Abi Tok Hashim   Kangar   PERLIS
4        01000       Jalan Alor Sena   Kangar   PERLIS
...        ...                   ...      ...      ...
56229    98850      Sungai Seloating    Lawas  SARAWAK
56230    98850                Trusan    Lawas  SARAWAK
56231    98850                Tuaran    Lawas  SARAWAK
56232    98857            Peti Surat    Lawas  SARAWAK
56233    98859          Beg Berkunci    Lawas  SARAWAK

[56234 rows x 4 columns]

In [13]:
def find_state_district_location(text, reference_df):
    matches = set()  # Use set directly to avoid duplicates
    for idx, row in reference_df.iterrows():
        if (row['state'].lower() in text.lower()) and (row['district'].lower() in text.lower()) and (row['location'].lower() in text.lower()):
            matches.add((row['postcode']))
    return matches  # Returns set of tuples containing (postcode, state)

def find_state_location(text, reference_df):
    matches = set()  # Use set directly to avoid duplicates
    for idx, row in reference_df.iterrows():
        if (row['state'].lower() in text.lower()) and (row['location'].lower() in text.lower()):
            matches.add((row['postcode']))
    return matches  # Returns set of tuples containing (postcode, state)

def find_district_location(text, reference_df):
    matches = set()  # Use set directly to avoid duplicates
    for idx, row in reference_df.iterrows():
        if (row['district'].lower() in text.lower()) and (row['location'].lower() in text.lower()):
            matches.add((row['postcode']))
    return matches  # Returns set of tuples containing (postcode, state)

In [15]:
mukim_district_state['postcode1'] = (mukim_district_state['mukim'].astype(str)+','+mukim_district_state['district'].astype(str)+','+mukim_district_state['state'].astype(str)).apply(lambda x: find_state_district_location(x, location)).to_list()
mukim_district_state['postcode2'] = (mukim_district_state['mukim'].astype(str)+','+mukim_district_state['district'].astype(str)+','+mukim_district_state['state'].astype(str)).apply(lambda x: find_state_location(x, location)).to_list()
mukim_district_state['postcode3'] = (mukim_district_state['mukim'].astype(str)+','+mukim_district_state['district'].astype(str)+','+mukim_district_state['state'].astype(str)).apply(lambda x: find_district_location(x, location)).to_list()

In [16]:
mukim_district_state['postcode1'] = mukim_district_state['postcode1'].astype(str).str.replace(r"[\{\}\(\)]|set|'", '', regex=True)
mukim_district_state['postcode2'] = mukim_district_state['postcode2'].astype(str).str.replace(r"[\{\}\(\)]|set|'", '', regex=True)
mukim_district_state['postcode3'] = mukim_district_state['postcode3'].astype(str).str.replace(r"[\{\}\(\)]|set|'", '', regex=True)
mukim_district_state

,mukim,state_id,district,state,postcode1,postcode2,postcode3
0,ABI,9,PERLIS,PERLIS,,,
1,ARAU,9,PERLIS,PERLIS,02600,02600,02600
2,BERSERI,9,PERLIS,PERLIS,,,
3,CHUPING,9,PERLIS,PERLIS,,,
4,UTAN AJI,9,PERLIS,PERLIS,,,
...,...,...,...,...,...,...,...
1985,ANAP,13,BINTULU,SARAWAK,97000,97000,97000
1986,KAKUS,13,BINTULU,SARAWAK,97000,"97000, 97200",97000
1987,JELALONG,13,BINTULU,SARAWAK,97000,97000,97000
1988,BINIA,13,BINTULU,SARAWAK,97000,97000,97000
1989,BANDAR MALUDAM,13,BETONG,SARAWAK,95700,"95700, 94950",95700

In [18]:
mukim_district_state['postcode']=mukim_district_state['postcode1']
mukim_district_state['postcode']=np.where(mukim_district_state['postcode']=='',mukim_district_state['postcode2'],mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where(mukim_district_state['postcode']=='',mukim_district_state['postcode3'],mukim_district_state['postcode'])
mukim_district_state

,mukim,state_id,district,state,postcode1,postcode2,postcode3,postcode
0,ABI,9,PERLIS,PERLIS,,,,
1,ARAU,9,PERLIS,PERLIS,02600,02600,02600,02600
2,BERSERI,9,PERLIS,PERLIS,,,,
3,CHUPING,9,PERLIS,PERLIS,,,,
4,UTAN AJI,9,PERLIS,PERLIS,,,,
...,...,...,...,...,...,...,...,...
1985,ANAP,13,BINTULU,SARAWAK,97000,97000,97000,97000
1986,KAKUS,13,BINTULU,SARAWAK,97000,"97000, 97200",97000,97000
1987,JELALONG,13,BINTULU,SARAWAK,97000,97000,97000,97000
1988,BINIA,13,BINTULU,SARAWAK,97000,97000,97000,97000
1989,BANDAR MALUDAM,13,BETONG,SARAWAK,95700,"95700, 94950",95700,95700

In [19]:
mukim_district_state.to_csv('prep1.csv',index=False)

In [20]:
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='ABI')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BERSERI')&(mukim_district_state['state']=='PERLIS'), '02400', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='CHUPING')&(mukim_district_state['state']=='PERLIS'), '02500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='UTAN AJI')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KECHOR')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KURONG ANAI')&(mukim_district_state['state']=='PERLIS'), '02600', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KURONG BATANG')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='NGULANG')&(mukim_district_state['state']=='PERLIS'), '02400', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='ORAN')&(mukim_district_state['state']=='PERLIS'), '02500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PADANG SIDING')&(mukim_district_state['state']=='PERLIS'), '02600', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PAYA')&(mukim_district_state['state']=='PERLIS'), '02400', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SANGLANG')&(mukim_district_state['state']=='PERLIS'), '02800', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SENA')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SERIAB')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SUNGAI ADAM')&(mukim_district_state['state']=='PERLIS'), '02600', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='TITI TINGGI')&(mukim_district_state['state']=='PERLIS'), '02100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='WANG BINTONG')&(mukim_district_state['state']=='PERLIS'), '01000', mukim_district_state['postcode'])

mukim_district_state

,mukim,state_id,district,state,postcode1,postcode2,postcode3,postcode
0,ABI,9,PERLIS,PERLIS,,,,01000
1,ARAU,9,PERLIS,PERLIS,02600,02600,02600,02600
2,BERSERI,9,PERLIS,PERLIS,,,,02400
3,CHUPING,9,PERLIS,PERLIS,,,,02500
4,UTAN AJI,9,PERLIS,PERLIS,,,,01000
...,...,...,...,...,...,...,...,...
1985,ANAP,13,BINTULU,SARAWAK,97000,97000,97000,97000
1986,KAKUS,13,BINTULU,SARAWAK,97000,"97000, 97200",97000,97000
1987,JELALONG,13,BINTULU,SARAWAK,97000,97000,97000,97000
1988,BINIA,13,BINTULU,SARAWAK,97000,97000,97000,97000
1989,BANDAR MALUDAM,13,BETONG,SARAWAK,95700,"95700, 94950",95700,95700

In [ ]:
#show all row
pd.set_option('display.max_rows', None)

mukim_district_state[(mukim_district_state['postcode']=='')&(mukim_district_state['state']=='PULAU PINANG')]

# spt
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 1')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '13700', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 2')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '13500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 3')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '13500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 4')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '13500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 5')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 6')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 7')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 8')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 9')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 10')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 11')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 12')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 13')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 14')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 15')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 16')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 17')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 18')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 19')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 20')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14400', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 21')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '14100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR PRAI')&(mukim_district_state['district']=='SEBERANG PERAI TENGAH'), '13600', mukim_district_state['postcode'])

# spu
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 1')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13110', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 2')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 3')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 4')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 5')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 6')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 7')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13050', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 8')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 9')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 10')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13800', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 11')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13800', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 12')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 13')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 14')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '12300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 15')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '12100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 16')&(mukim_district_state['district']=='SEBERANG PERAI UTARA'), '13800', mukim_district_state['postcode'])

# sps
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 1')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14120', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 2')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 3')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 4')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 5')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 6')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 7')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 8')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 9')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 10')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14320', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 11')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 12')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 13')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14110', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 14')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 15')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14120', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 16')&(mukim_district_state['district']=='SEBERANG PERAI SELATAN'), '14100', mukim_district_state['postcode'])

# tl
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 13')&(mukim_district_state['district']=='TIMOR LAUT'), '11500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 14')&(mukim_district_state['district']=='TIMOR LAUT'), '11060', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 16')&(mukim_district_state['district']=='TIMOR LAUT'), '11500', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 17')&(mukim_district_state['district']=='TIMOR LAUT'), '11100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 18')&(mukim_district_state['district']=='TIMOR LAUT'), '11200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR BATU FERRINGGI')&(mukim_district_state['district']=='TIMOR LAUT'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR GLUGOR')&(mukim_district_state['district']=='TIMOR LAUT'), '10150', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR GEORGE TOWN')&(mukim_district_state['district']=='TIMOR LAUT'), '10450', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR TANJONG BUNGAH')&(mukim_district_state['district']=='TIMOR LAUT'), '11200', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR TANJONG PINANG')&(mukim_district_state['district']=='TIMOR LAUT'), '10470', mukim_district_state['postcode'])

# bd
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 1')&(mukim_district_state['district']=='BARAT DAYA'), '11010', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 2')&(mukim_district_state['district']=='BARAT DAYA'), '11050', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 3')&(mukim_district_state['district']=='BARAT DAYA'), '11010', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 4')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 5')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 6')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 7')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 8')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 9')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 10')&(mukim_district_state['district']=='BARAT DAYA'), '11900', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 11')&(mukim_district_state['district']=='BARAT DAYA'), '11920', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM 12')&(mukim_district_state['district']=='BARAT DAYA'), '11900', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM A')&(mukim_district_state['district']=='BARAT DAYA'), '11010', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM B')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM C')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM D')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM E')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM F')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM G')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM H')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM I')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='MUKIM J')&(mukim_district_state['district']=='BARAT DAYA'), '11000', mukim_district_state['postcode'])

In [26]:
len(mukim_district_state[(mukim_district_state['postcode']=='')&(mukim_district_state['state']=='KEDAH')])

47

In [27]:
mukim_district_state[(mukim_district_state['postcode']=='')&(mukim_district_state['state']=='KEDAH')]

,mukim,state_id,district,state,postcode1,postcode2,postcode3,postcode
64,AH,2,KUBANG PASU,KEDAH,,,,
65,BINJAL,2,KUBANG PASU,KEDAH,,,,
66,GELONG,2,KUBANG PASU,KEDAH,,,,
67,BUKIT TINGGI,2,KUBANG PASU,KEDAH,,,,
68,HUSBA,2,KUBANG PASU,KEDAH,,,,
70,JERLUN,2,KUBANG PASU,KEDAH,,,,
72,KEPELU,2,KUBANG PASU,KEDAH,,,,
73,KUBANG PASU,2,KUBANG PASU,KEDAH,,,,
75,NAGA,2,KUBANG PASU,KEDAH,,,,
76,PADANG PERAHU,2,KUBANG PASU,KEDAH,,,,
78,PERING,2,KUBANG PASU,KEDAH,,,,
79,PUTAT,2,KUBANG PASU,KEDAH,,,,
80,SANGLANG,2,KUBANG PASU,KEDAH,,,,
81,SUNGAI LAKA,2,KUBANG PASU,KEDAH,,,,
82,TEMIN,2,KUBANG PASU,KEDAH,,,,
84,WANG TEPUS,2,KUBANG PASU,KEDAH,,,,
85,BANDAR CHANGLUN,2,KUBANG PASU,KEDAH,,,,
89,BANDAR BANDAR DARULAMAN,2,KUBANG PASU,KEDAH,,,,
100,BATANG TUNGGANG KANAN,2,PADANG TERAP,KEDAH,,,,
101,BATANG TUNGGANG KIRI,2,PADANG TERAP,KEDAH,,,,
102,BELIMBING KANAN,2,PADANG TERAP,KEDAH,,,,
103,BELIMBING KIRI,2,PADANG TERAP,KEDAH,,,,
104,KURONG HITAM,2,PADANG TERAP,KEDAH,,,,
105,PADANG TERNAK,2,PADANG TERAP,KEDAH,,,,
106,PADANG TERAP KANAN,2,PADANG TERAP,KEDAH,,,,
107,PADANG TERAP KIRI,2,PADANG TERAP,KEDAH,,,,
109,TEKAI,2,PADANG TERAP,KEDAH,,,,
110,TOLAK,2,PADANG TERAP,KEDAH,,,,
128,BUKIT MERIAM,2,KUALA MUDA,KEDAH,,,,
132,KUALA,2,KUALA MUDA,KEDAH,,,,
134,PEKULA,2,KUALA MUDA,KEDAH,,,,
137,SEMELING,2,KUALA MUDA,KEDAH,,,,
142,TELOI KIRI,2,KUALA MUDA,KEDAH,,,,
1722,,2,PADANG TERAP,KEDAH,,,,
1723,,2,PADANG TERAP,KEDAH,,,,
1740,,2,PADANG TERAP,KEDAH,,,,
1741,,2,PADANG TERAP,KEDAH,,,,
1742,,2,PADANG TERAP,KEDAH,,,,
1743,,2,PADANG TERAP,KEDAH,,,,
1744,,2,PADANG TERAP,KEDAH,,,,
1745,,2,PADANG TERAP,KEDAH,,,,
1746,,2,PADANG TERAP,KEDAH,,,,
1747,,2,PADANG TERAP,KEDAH,,,,
1748,,2,PADANG TERAP,KEDAH,,,,
1749,,2,PADANG TERAP,KEDAH,,,,
1750,,2,PADANG TERAP,KEDAH,,,,
1751,,2,PADANG TERAP,KEDAH,,,,

In [ ]:
# kubang pasu
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='AH')&(mukim_district_state['district']=='KUBANG PASU'), '06100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BINJAL')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='GELONG')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BUKIT TINGGI')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='HUSBA')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='JERLUN')&(mukim_district_state['district']=='KUBANG PASU'), '06150', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KEPELU')&(mukim_district_state['district']=='KUBANG PASU'), '06100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KUBANG PASU')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='NAGA')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PADANG PERAHU')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PERING')&(mukim_district_state['district']=='KUBANG PASU'), '06100', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PUTAT')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SANGLANG')&(mukim_district_state['district']=='KUBANG PASU'), '06150', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SUNGAI LAKA')&(mukim_district_state['district']=='KUBANG PASU'), '06010', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='TEMIN')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='WANG TEPUS')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR CHANGLUN')&(mukim_district_state['district']=='KUBANG PASU'), '06010', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BANDAR BANDAR DARULAMAN')&(mukim_district_state['district']=='KUBANG PASU'), '06000', mukim_district_state['postcode'])


#padang terap
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BATANG TUNGGANG KANAN')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BATANG TUNGGANG KIRI')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BELIMBING KANAN')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BELIMBING KIRI')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KURONG HITAM')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PADANG TERNAK')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PADANG TERAP KANAN')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PADANG TERAP KIRI')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='TEKAI')&(mukim_district_state['district']=='PADANG TERAP'), '06400', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='TOLAK')&(mukim_district_state['district']=='PADANG TERAP'), '06300', mukim_district_state['postcode'])

#kuala muda 
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='BUKIT MERIAM')&(mukim_district_state['district']=='KUALA MUDA'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='KUALA')&(mukim_district_state['district']=='KUALA MUDA'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='PEKULA')&(mukim_district_state['district']=='KUALA MUDA'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='SEMELING')&(mukim_district_state['district']=='KUALA MUDA'), '06000', mukim_district_state['postcode'])
mukim_district_state['postcode']=np.where((mukim_district_state['postcode']=='')&(mukim_district_state['mukim']=='TELOI KIRI')&(mukim_district_state['district']=='KUALA MUDA'), '06000', mukim_district_state['postcode'])

''